<h1>{{ author }}</h1>
<h3>{{ author.bio }}</h3>

<h3>Recipes by {{ author }}</h3>
<ul>
{% for recipe in recipes %}
    <li>
        <a href="/recipe/{{recipe.id}}">
            {{ recipe }}
        </a>
    </li>
{% endfor %}
</ul>
<!-- <div> <h1>Favorites</h1>
{% for f in faves%}
   <p>{{faves}}</p>
{% endfor %}
  
          
</div>   -->
<div>
    <h1>Favorites</h1>
    <ul>
        {% for favorite in favorites %}
            <li>
                <a href="/recipe/{{favorite.id}}">
                    {{favorite}}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>